.Button {
    font-size: 1.6rem;
    align-self: center;
    border-radius: 10rem;
    border-color: #212529;
    padding: 0.4rem 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    min-width: 7.5rem;
    background-color: #4CAF50;
    color: white;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: #212529;
    cursor: pointer;
    background-color: #66bb6a;
  }
  
  .Button:hover:active {
    background-color: #357a38;
  }
  
  .Button:active {
    background-color: #357a38;
  }
  
  .Button:focus {
    background-color: #357a38;
  }
  
  .Wide {
    padding: 1rem 5rem;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #4CAF50;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    border: 1px solid #4CAF50;
    background-color: #ffffff;
    color: #4CAF50;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #242a3d;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: aliceblue;
    color: #242a3d;
  }
  
  .Bright {
    background-color: #2ed9ff;
    color: #212529;
    font-size: 1.8rem;
  }