.Container {
    min-height: 20rem;
  }

  .Input {
    background: #e8f5e9;
    border: 0.1rem solid #c8e6c9;
    box-sizing: border-box;
    border-radius: 1rem;
    color: #2e7d32;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.PlaceholderFontSize {
    font-size: 1.8rem;
}

.LargeButton {
    font-size: 1.6rem;
  }

  /* .Container {
    padding: 3rem 1rem;
    border-radius: 1.5rem;
    margin-left:2rem;
    margin-right:2rem;

  } */