  .Container {
    min-height: 20rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid #55986f;
  }
  
  .Input {
    margin-bottom: 2rem;
  }
  
  .PlaceholderFontSize {
    font-size: 1.8rem;
  }

  .ButtonArea {
    font-size: 1.6rem;
  }
  
  .FormControl {
    border-radius: 5px;
    border: 0.1rem solid #ced4da;
    padding: 1rem;
    font-size: 2rem;
  }
  
  /* These are overrides, ensure they're called after Bootstrap styles */
  .Form-label {
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .Form-control,
  .Form-control::placeholder {
    color: #495057;
  }
  
  .Form-control:focus {
    border-color: #55986f;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  