.Form {
    border: none;
    border-bottom: 0.2rem #00d1ff solid;
  }
  
  .Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 10rem;
    padding: 0.4rem 1rem;
    min-width: 7.5rem;
    margin: 0.5rem;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }