.NavBar {
    background-color: #ffffff;
    border: 1px solid #555555;
    font-size: 2rem;
  }

  .navLink {
    margin-right: 2rem;
    color: #010A40 !important;
  }

  .navBrand {
    background-color: #55986f;
  }



