.NavBar {
    background-color: #ffffff;
    border: 1px solid #555555;
    font-size: 2rem;
  }


  .NavLink {
    margin-right: 2rem;
    color: #212529;
    padding: 0.5rem;
  }

  .navBrand {
    background-color: #55986f;
  }
  
  .Active i {
    color: #55986f;
  }







